@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="navbar-uhub">
    <navbar-uhub communities="communities"></navbar-uhub>
</div>




<h2>@ViewBag.Title</h2>

<p></p>
<p></p>

<div class="center_LR" style="display:inline-block">
    <img src="@ViewBag.CatAddr" title="cat" width="750" height="600" />
    <p></p>
    <span class="center_LR" style="display:inline-block">
        <strong>
            @ViewBag.ErrorMessage
        </strong>
    </span>
</div>