@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutNoAuth.cshtml";
}


<div id="navbar-uhub">
    <navbar-component></navbar-component>
</div>



<div id="body-Content" class="container w-70">

    <h2>Application Loading</h2>

    <p></p>
    <p></p>

    The application is currently starting, please try again in just a moment

</div>