################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Website/.vs/UHub/v15/Server/sqlite3
