@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section head
{
    @RenderSection("head", false)
}


@section header
{
    <div id="mainNav" class="container-fullwidth">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/">UHUB</a>
        </nav>
    </div>
}



@RenderBody()



@section scripts{
    @RenderSection("scripts", false)
}