@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header
{
    <div id="navbar-uhub">
        <navbar-component communities="communities"></navbar-component>
    </div>
    @Scripts.Render("~/ClientResources/Master/Components/Navbar.js")
}



@RenderBody()



@section scripts{
    @RenderSection("scripts", false)
}