@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}


<div id="post-container" style="display:none !important">

    <div class="container bg-white w-70 mt-4 py-3">
        <div>
            <a v-bind:href="'/SchoolClub/' + parentID">{{commName}}</a>
            <p style="display:inline-block !important">• Posted by {{postCreater}}</p>
            <template v-if="modifiedDate != null">
                <span>[<a :href="'/Post/History/' + postID">History</a>]</span>
            </template>
            <h3 class="px-3 pt-3">{{title}}</h3>
            <div class="p-2 pb-2 m-2" v-html="content"></div>
            <button id="btn_ToggleReply" type="button" class="btn-sm btn-outline-dark m-2 mb-1 d-inline" v-on:click="postReply" style="display:none !important">Reply</button>
            <p class="d-inline justify-content-lg-end">{{postTime.substring(0,10)}}</p>
        </div>
        <div class="container-fluid">
            <div id="post-reply" class="form-group" style="display: none;">
                <textarea rows="2" class="mx-auto form-control" ref="postReplyText"></textarea>
                <button id="post-submit-button" type="button" class="btn-sm btn-outline-primary m-2 mb-1 d-inline" v-on:click="submitCommentPost">Submit</button>
            </div>
        </div>

        <hr>

        <comment-component v-for="comment in comments" v-on:custom-click="buttonHandler" v-bind:key="comment.id" v-bind:comment="comment"></comment-component>
    </div>

</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    <script src="~/ClientResources/Post/Scripts/Post.js"></script>
}
