
@{
    ViewBag.Title = "CreatePost";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

@section head{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
}


<div class="container w-70">

    <h2>Create Post</h2>


    <label for="inputTitle">Title:</label>
    <input type="text" id="inputTitle" class="form-control" placeholder="Title (max 100 chars)" />


    <p></p>
    <label for="inputContent">Content:</label><br />
    <textarea id="inputContent" placeholder="Content (max 10k chars)"></textarea>


    <p></p>
    <label for="inputMakePrivate">Make This Post Private</label>
    <input type="checkbox" id="inputMakePrivate" />

    <p></p>
    <label for="inputCanComment">Enable Comments</label>
    <input type="checkbox" id="inputCanComment" checked />


    <p></p>
    <input type="button" id="btn_CreatePost" value="Submit" class="btn-outline-dark center_LR"/>
</div>


@section scripts
{
    <script src="https://cdn.jsdelivr.net/simplemde/1.11.2/simplemde.min.js"></script>
    @Scripts.Render("~/resources/schoolClub/createPostScript")
}