
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}


@section header
{
    <div>
        <postbar-component></postbar-component>
    </div>
}

<div id="navbar-uhub">
    <navbar-component></navbar-component>
</div>

<div id="postbar-uhub">
    <postbar-component></postbar-component>
</div>

<div id="body-content" class="mt-4" style="display:none !important">
    <ul id="post-list" class="list-group list-group-flush w-70 float-md-left">
        <postlistcomp v-for="post in posts" v-bind:post="post" v-bind:key="post.ID"></postlistcomp>
    </ul>
    <div id="community-block" class="border bg-white p-3 float-md-right">
        <h5 class="mx-auto d-flex justify-content-center">{{ community.Name }}</h5>
        <div class="container text-center">
            <span class="justify-content-center">
                {{ community.Description }}
            </span>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    <script src="~/ClientResources/schoolClubs/Scripts/communityVue.js"></script>
    <script src="~/ClientResources/MASTER/Components/PostBar.js"></script>
}