
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

@section head
{
    @* MOVED TO _LayoutAuth *@
    @*@Styles.Render("~/resources/css/components")*@
}

@section header
{
    <div>
        <postbar-component></postbar-component>
    </div>
}

<div id="navbar-uhub">
    <navbar-component></navbar-component>
</div>

<div id="postbar-uhub">
    <postbar-component></postbar-component>
</div>

<div id="body-content" class="container mt-4">
    <div>
        <div id="post-list">
            <postlistcomp v-for="post in posts" v-bind:post="post" v-bind:key="post.ID"></postlistcomp>
        </div>
    </div>
    <div id="community-block" class="border bg-white p-3 w-25 float-md-right">
        <h5 class="mx-auto d-flex justify-content-center">{{ community.Name }}</h5>
        <div class="container">
            <span class="m-1 justify-content-center">
                {{ community.Description }}
            </span>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    <script src="~/ClientResources/schoolClubs/Scripts/communityVue.js"></script>
    <script src="~/ClientResources/MASTER/Components/PostBar.js"></script>
}