<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!--FOR TESTING PURPOSES ONLY-->
    <machineKey applicationName="UHUB_TEST" validation="HMACSHA512" validationKey="6131EB73D74D8DB5E06300748204E273EEFC8109A6676829780EBD1BE7131BFEFD8EB455A36D08BF84EA5DC77C8AF04E0A536407FFCC40EAB6ED39C549C28027" decryption="AES" decryptionKey="12A82D606E971CCF5594FE1B56614F86DCD55879EF95614E" />
  </system.web>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>