<body class="custom-color1">

<div id="mainNav" class="container-fullwidth">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">UHUB</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Communities
                    </a>
                    <div id="communityDrop" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" v-for="community in communities"
                           v-bind:class="{ href: 'https://uhub.life' + community.ID }"> {{ community.Name }} </a>
                    </div>

                </li>
            </ul>
            <form class="form-inline mx-1">
                <input class="form-control mx-2 my-auto d-inline" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary my-2 my-md-0" type="submit">Search</button>
            </form>
            <a href="/Account" class="btn btn-secondary my-2 my-md-0">My Account</a>
        </div>
    </nav>
</div>

<div id="post-container" class="container bg-white w-70 mt-4 py-3">
    <div>
        <h4 class="px-3 pt-3">{{title}}</h4>
        <p class="p-2 pb-2 m-2">{{content}}</p>
        <button type="button" class="btn-sm btn-outline-dark m-2 mb-1 d-inline" v-on:click="postReply">Reply</button>
        <button id="post-submit-button" type="button" class="btn-sm btn-outline-primary m-2 mb-1 d-inline" v-on:click="submitCommentPost">Submit</button>
        <p class="d-inline justify-content-lg-end">{{postTime}}</p>
    </div>
    <div class="container-fluid">
        <form id="post-reply" class="form-group">
            <textarea rows="2" class="mx-auto form-control" ref="postReplyText"></textarea>
        </form>
    </div>

    <hr>

    <comment-component v-for="comment in comments" v-on:custom-click="buttonHandler" v-bind:key="comment.id" v-bind:comment="comment"></comment-component>
</div>
</body>
