@{
    ViewBag.Title = "View Clubs";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    var hasRecaptcha = CoreFactory.Singleton.Properties.EnableRecaptcha;
    var publicKey = CoreFactory.Singleton.Properties.RecaptchaPublicKey;

}


@section head
{

}



<div id="body-Content" class="container w-70">
    <h4>School Clubs</h4>



    <ul id="club-list" class="list-group list-group-flush w-70 float-md-left">
        <li class="list-group-item mb-3" v-for="club in clubs">
            <a v-bind:href="'/SchoolClub/' + club.ID">
                <h4> {{ club.Name }} </h4>
            </a>
        </li>
    </ul>


</div>



@section scripts
{
    @Scripts.Render("~/resources/school/ViewClubsScript")
}