@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div id="body-content" class="container mt-4">
    <div>
        <ul id="post-versions" class="list-group list-group-flush w-100 float-md-left" style="display:none !important">
            <li class="list-group-item mb-3" v-for="postVersion in postVersions">
                <h4 v-else> {{ postVersion.ModifiedDate }} </h4>
                <div v-html="post.Content"></div>
            </li>
        </ul>
    </div>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    <script src="~/ClientResources/Post/Scripts/History.js"></script>
}