@{
    ViewBag.Title = "Confirm Account";
    Layout = "~/Views/Shared/_LayoutNoAuth.cshtml";
}



<div id="body-Content" class="container w-70">

    <h2>Confirm Account</h2>

    <br />

    @ViewBag.Message


</div>