
@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>


@{
    Html.BeginForm();
}


<label for="txt_Email">Please input your email</label>
<br />
<input type="email" name="txt_Email" placeholder="Email:" />


<p>@ViewBag.Message</p>

@{

    Html.RenderPartial("~/Views/Security/_RecaptchaPartial.cshtml", new UHub.Models.Security.RecaptchaLoginViewModel
    {
        SubmitValue = "Send Recovery Email",
        SubmitClass = "btn-outline-dark",
    });
}


@{
    Html.EndForm();
}