@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="navbar-uhub">
    <navbar-component></navbar-component>
</div>


<h2>Forgot Password</h2>


@using (Html.BeginForm())
{

    <div class="center_LR" style="display:inline-block">
        <label for="txt_Email">Please enter your email</label>
        <br />
        <input type="email" name="txt_Email" placeholder="Email:" class="form-control" />
        <p></p>

        @{
            Html.RenderPartial(
                "~/Views/Security/_RecaptchaPartial.cshtml",
                new UHub.Models.Security.RecaptchaLoginViewModel
                {
                    SubmitText = "Send Recovery Email",
                    SubmitClass = "btn-outline-dark",
                });
        }
        
        <p>@ViewBag.Message</p>

    </div>



}