@using UHub.CoreLib.Extensions;

<navbar-uhub></navbar-uhub>

@{
    ViewBag.Title = "My Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Account</h2>

<p>
    @ViewBag.Username
</p>


@Html.ActionLink("Update Password", "UpdatePassword", "Account");