@using UHub.CoreLib.Extensions;
@{
    ViewBag.Title = "My Account";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}


<div id="body-Content" class="container w-70">

    <h2>My Account</h2>

    <p>
        @ViewBag.Username
    </p>


    @Html.ActionLink("Update Password", "UpdatePassword", "Account")


</div>