
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_LayoutNoAuth.cshtml";
}



<div id="body-Content" class="container w-70">

    <h2>Logout</h2>

    <br />

    Account Logged Out


</div>