@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="navbar-uhub">
    <navbar-component></navbar-component>
</div>


<h2>Account Recovery</h2>


@using (Html.BeginForm())
{


    <div class="center_LR" style="display:inline-block">
        <label for="txt_RecoveryKey">Please enter your recovery key from the email</label>
        <br />
        <input type="password" name="txt_RecoveryKey" placeholder="Recovery Key:" class="form-control">

        <br />
        <br />

        <label for="txt_RecoveryKey">Please enter your new password</label>
        <br />
        <input type="password" name="txt_NewPswd" placeholder="New Password:" class="form-control">
        <br />
        <input type="password" name="txt_ConfirmPswd" placeholder="Confirm Password:" class="form-control">
        <p></p>
        @{
            Html.RenderPartial(
                "~/Views/Security/_RecaptchaPartial.cshtml",
                new UHub.Models.Security.RecaptchaLoginViewModel
                {
                    SubmitText = "Send Recovery Email",
                    SubmitClass = "btn-outline-dark",
                });
        }

        <p>@ViewBag.Message</p>

    </div>



    if (ViewBag.CanForward)
    {
        <script>
            $(function () {
                window.setTimeout(function () { window.location.href = "/"; }, 1500);
            });
        </script>
    }

}
