@{
    ViewBag.Title = "Update Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="navbar-uhub">
    <navbar-component communities="communities"></navbar-component>
</div>


<h2>Update Password</h2>


@using (Html.BeginForm())
{

    <div class="center_LR" style="display:inline-block">
        <label for="txt_CurrentPswd">Please enter your current password</label>
        <br />
        <input type="password" name="txt_CurrentPswd" placeholder="Current Password:" class="form-control" />

        <br />
        <br />

        <label for="txt_NewPswd">Please enter your new password</label>
        <input type="password" name="txt_NewPswd" placeholder="New Password:" class="form-control" />
        <br />
        <input type="password" name="txt_ConfirmPswd" placeholder="Confirm Password:" class="form-control" />
        <p></p>

        <span style="white-space: nowrap">
            @Html.CheckBox("chk_DeviceLogout", true, new { id = "chk_DeviceLogout" })
            <label for="chk_DeviceLogout">Log out of all devices</label>
        </span>
        <p></p>


        @{
            Html.RenderPartial(
                "~/Views/Security/_RecaptchaPartial.cshtml",
                new UHub.Models.Security.RecaptchaLoginViewModel
                {
                    SubmitText = "Update Password",
                    SubmitClass = "btn-outline-dark",
                });
        }

        <p>@ViewBag.Message</p>

    </div>



    if (ViewBag.CanForward)
    {
        <script>
            $(function () {
                window.setTimeout(function () { window.location.href = "/"; }, 1500);
            });
        </script>
    }

}