body {
    background-color: #dae0e6;
}

.w-70 {
    width: 70%;
}

.center_LR {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}