body {
    background-color: #dae0e6;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}


.w-70 {
    width: 70%;
}

.center_LR {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

main {
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}